* {
    margin: 0;
    padding: 0;
    box-sizing: box;
    text-decoration: none !important;
    border: none;
    outline: none;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

li {}